.container {
  padding: 1.5rem;
}

.controls {
  margin-bottom: 1rem;
}

.controls input,
.controls select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;

  > div {
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
  }
}

.post {
  position: relative;
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 4px;

  cursor: pointer;

  background-color: var(--page-bg);

  display: flex;
  align-items: center;
  gap: 1rem;

  transition: box-shadow 0.15s;

  &:hover {
    box-shadow: 4px 4px var(--hover-shadow) !important;
  }

  z-index: 2;
}

.ownPost {
  position: relative;

  .post {
    box-shadow: 4px 4px var(--box-shadow);
  }

  &::before {
    position: absolute;
    left: 0;
    top: calc(1.5rem - 5px);

    content: "Own Post.";
    font-weight: 300;
  }
}

.post h2 {
  margin: 0;
  font-size: 1.1rem;

  text-wrap: pretty;
}

.delete {
  background-color: var(--delete-bg);
  color: var(--delete-bg);

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

  position: relative;
  right: 1rem;
  top: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

@media (hover: none) {
  .delete {
    top: calc(1.5rem - 10px);
    color: #fff;
  }
}

.delete:hover {
  background-color: var(--delete-bg-hover);
  color: red;
  border: 1px solid var(--border);

  transform: translateY(-20px);
}

.delete:active {
  .animate {
    animation: floatX 1s linear 1;
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.5rem);
  }
  50.1% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---------------------------------- */

@media screen and (max-width: 500px) {
  :root {
    font-size: 15px;
  }
}
