.user {
  display: flex;
  align-items: center;

  height: 80px;

  position: relative;
  user-select: none;

  padding: 0 1rem;

  border: 1px solid var(--text-on-bg);
  color: var(--text-on-bg);
  border-radius: 5px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transition: opacity 0.1s;
    width: 100%;

    > p {
      word-wrap: anywhere;
    }
  }
}

.user:hover {
  > div {
    opacity: 0;
  }

  > .logout {
    display: block;
    opacity: 1;
  }
}

.logout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;

  background-color: var(--text-on-bg);
  color: #ffffff;

  border: none;
  border-radius: 3px;
  padding: 0.5rem 2rem;

  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.user svg {
  height: 30px;
  width: auto;

  border-radius: 3px;
  padding: 0.25rem;

  background-color: var(--text-on-bg);
  color: var(--page-bg);
}

@media (hover: none) {
  .user {
    height: fit-content;
    padding: 1rem;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .logout {
    position: static;
    transform: none;

    opacity: 1;
  }
}

@media (max-width: 830px) and (hover: none) {
  .user {
    flex-direction: column;
  }
}
