.container {
  height: calc(50px + 2rem);
  font-size: 1.25rem;

  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;

  background-color: var(--header-bg);
  color: var(--header-color);
}
