:root {
  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  --loading: var(--text-on-bg);

  /* ------------------------ */

  --form-page-bg: #303030;
  --radius-button: 3px;
  --form-shadow: rgb(156, 154, 154);

  --submit-button: rgb(21, 129, 172);
  --submit-button-hover: rgb(10, 99, 134);

  --focus-color: skyblue;

  /* --------------------------------- */
  --header-color: #fff;
  --header-button-bg: transparent;
  --header-button-bg-active: var(--text-on-bg);
  --header-button-color-active: #fff;

  --box-shadow: #303030;
  --hover-shadow: rgb(35, 155, 211);
  --border: #8c8c8c;

  --page-bg: #ffffff;
  --text-on-bg: #000;
  --gray-on-bg: #828282;
  --link-on-bg: #24bfca;

  --delete-bg: #e63946;
  --delete-bg-hover: var(--page-bg);

  /* -------------------------------- */

  --create-form-color: var(--text-on-bg);

  --hover-toggle: skyblue;
  --toggle-negative-bg: var(--error);
  --toggle-positive-bg: var(--success);

  --user-user-bg: #f0f8ff;
  --user-author-bg: var(--success);
  --user-admin-bg: var(--error);
}

:root.dark {
  --page-bg: #303030;
  --text-on-bg: #fff;
  --gray-on-bg: #b8b8b8;

  --hover-shadow: rgb(55, 151, 196);
  --box-shadow: #fff;
  --border: #838383;

  --header-color: #000;
  --header-button-color-active: #000;

  --delete-bg: #b91e2b;

  /* ------------------------------------ */

  --create-form-bg: #444444;

  --user-user-bg: #cfd8dc;
  --user-author-bg: var(--success);
  --user-admin-bg: var(--error);
}
